<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>993799201037-7pq2btpa1qvb93u4ck8b5k4ojm3tjl3u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.993799201037-7pq2btpa1qvb93u4ck8b5k4ojm3tjl3u</string>
	<key>API_KEY</key>
	<string>AIzaSyC9tP_32al3eixwSSSKxpZ6zw3mSKvwGNQ</string>
	<key>GCM_SENDER_ID</key>
	<string>993799201037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>my.FilmsCollection</string>
	<key>PROJECT_ID</key>
	<string>filmscollection-5e37c</string>
	<key>STORAGE_BUCKET</key>
	<string>filmscollection-5e37c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993799201037:ios:1c199771f111efcaed1044</string>
</dict>
</plist>